<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>d:\\logs\\jxjxgo\\gamegateway\\log-%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>/var/log/jxjxgo/gamegateway/log-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%highlight([%level]) - [%date] - [%logger]  %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>

    <!-- actors logging -->
    <logger name="akka.actor" level="INFO"/>

    <logger name="actors.UserParentActor" level="INFO"/>
    <logger name="actors.UserActor" level="INFO"/>
    <logger name="actors.StocksActor" level="INFO"/>
    <logger name="actors.StockActor" level="INFO"/>

    <!-- controllers -->
    <logger name="controllers" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
